body
{  
    margin: 0px; 
}

#container
{
  width: 968px;
  margin: 0px auto;

}

/* HEADER section ========================== */

.header
{  
  background:#5c755e; 
  height:75px; 
  width: 964px; 
  border: solid 2px #000; 
  color:white;
}

/* NAVIGATION section ====================== */

#nav
{  
  background:black; 
  height:30px; 
  width: 964px; 
  border: solid 2px #000;  
  font-weight:bold;
}

/* SIDEBAR ================================= */

.sidebar
{  
  float:left; 
  width:176px; 
  height:9500px; 
  background: #9c9f84; 
  border-left: solid 2px #000; 
  border-bottom: solid 2px #000;
  border-bottom-left-radius:1em;
}



/* MAIN ========================================= */

.main
{
    float: left;
    width: 786px;
    height: 9500px;
    background: #e5e4d7; 
    border-right: solid 2px #000;  
    border-left: solid 2px #000; 
    border-bottom: solid 2px #000;
    solid;      font-family: Arial;
    font-size: 16px;
    overflow: auto ;
    border-bottom-right-radius:1em;
    
}

/* Mini content panel =========================== */
#box {
  background-color: #4e5a65;
  border: 2px solid black;
  border-radius: 1em;
  font-size: 95%;
  padding: 10px;
  margin: 20px;
  width: 280px;
  color: white;
}

 @media only screen (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  #box {
    background-color: darkgreen;
  }
} 